extends portfolio-default

// Only want the main portfolio page index to be active, the subpages not.
block navbar
  +navbar(-1)

block portfolio-content
  div.pagebody
    article.article
      div.row
        - var formattedTitle = env.helpers.handleize(page.title)
        div(class=formattedTitle)
          div.medium-7.columns
            div.pagebody
              article
                header
                  h2.title
                    a(href=page.url).title-link= page.title

                div.project-tagline
                  p= page.metadata.tagline

                ul#pikame.cleafix
                  for item in page.metadata.portfolioItemImages
                    - var imgLink = "/portfolio/" + formattedTitle + "/" + item
                    li
                      a(href=imgLink)
                        img(src=imgLink, alt="").project-screenshot

                div.project-description
                  section.content!= typogr(page.html).typogrify()

          div.medium-3.columns
            div.side
              div.text-center
                h3.dark-title Distribution

              ul.side-nav
                for item in page.metadata.portfolioItemDistribution
                  if item.type == "header"
                    li.nav-header= item.value
                  if item.type == "link"
                    li
                      a(href=item.href,rel="alternate")
                        img(src=item.icon,alt=item.alt).sidebar-icon
                        | &nbsp;
                        | #{ item.value }

            div.side
              div.text-center
                h3.dark-title Technology

              ul.side-nav
                for item in page.metadata.portfolioItemTechnology
                  li
                    img(src="/img/icons/check-icon-16x16.png", alt="Check icon").sidebar-icon
                    | &nbsp;
                    | #{ item }

            div.side
              div.text-center
                h3.dark-title Code Snippets

              ul.side-nav
                for item in page.metadata.portfolioItemCodeSnippets
                  - var imgLink = "/portfolio/" + formattedTitle + "/" + item + ".png"
                  - var dataLink = "/" + item + "/"
                  li
                    a(data-fancybox, data-type="ajax", data-src="#{ dataLink}", href="javascript:;")
                      img(src=imgLink, alt="").sidebar-img
