
extends blog-default

block content
  - var articles = env.helpers.getArticles(contents);
  article.article
    header.blogheader

      div.content-meta
        include ../includes/skills
        div(class='article-title')
          h2.title
            a(href='#{ page.url }').title-link= page.title
          include ../includes/keys
        div(class='article-meta')
          div.article-date
            time(datetime="#{moment.utc(page.date).format('YYYY-MM-DDTHH:mm:ss') + 'Z'}")
              !{ moment.utc(page.date).format(locals.date_format_post) }
          include ../includes/ratings

    div.blogbody
      section.content!= typogr(page.html).typogrify()

    footer.blogfooter

      // Related Posts
      if page.related_articles
        h3 Related Entries
        div.related-posts
          ul
            - var i = 0
            each article in page.related_articles
              - i = i + 1
              li
                a(href="#{ article.url }") #{ article.metadata.title }
              if i >= locals.related_entries_limit
                - break;

      // Pagination
      - var articlesTitles = _.map(articles, function(value, key, list) {
      - return value.metadata.title;
      - });
      - var thisPageIndex = articlesTitles.indexOf(page.title);
      - var prevArticle = articles[thisPageIndex+1];
      - var nextArticle = articles[thisPageIndex-1];
      - var prevUrl = prevArticle && prevArticle.metadata ? prevArticle.url : '/';
      - var nextUrl = nextArticle && nextArticle.metadata ? nextArticle.url : '/';
      - var prevLabel = prevArticle && prevArticle.metadata ? prevArticle.title : 0;
      - var nextLabel = nextArticle && nextArticle.metadata ? nextArticle.title : 0;

      div.footer-nav
        if prevUrl
          if prevLabel
            div(style='float: left')
              a(rel='prev', href='#{ prevUrl }') &laquo;&nbsp;#{ prevLabel }
        if nextUrl
          if nextLabel
            div(style='float: right')
              a(rel='next', href='#{ nextUrl }') #{ nextLabel }&nbsp;&raquo;

  // Comments Count
  // - var comments_count = 0
  // if (page.comments)
  //   - comments_count = _.keys(page.comments).length

  // case comments_count
  //   when 0
  //     div.comments-count No Comments
  //   when 1
  //     div.comments-count 1 Comment
  //   default
  //     div.comments-count #{ comments_count } Comments

  // if page.metadata.comments_enabled
  //   a(href="#{locals.url}#{page.url}#disqus_thread") No Comments

  // Comments
  // if page.comments
  //   - var i = 0
  //   for c in page.comments
  //     - var permalink = c.metadata.id;
  //     - var content = c.html
  //     - var row = i % 2 ? 'even' : 'odd'
  //     - i = i + 1;
  //
  //     div(class='comments-body #{ env.helpers.handleize(c.metadata.name) } #{ row }', id='#{ c.metadata.id }')
  //
  //       i.l
  //
  //       // Gravatar
  //       span.avatar
  //         img(src='#{ locals.gravatar_url }/#{ c.metadata.gravatar_hash }?s=#{ locals.gravatar_size }&d=#{ locals.gravatar_default }')
  //
  //       // Metadata
  //       div.comments-wrapper
  //         div.comments-box
  //           div.comments-meta
  //             if c.metadata.link && c.metadata.link != ''
  //               p.comment-name
  //                 a(rel='nofollow', target='_blank', title='#{ c.metadata.link }', href='#{ c.metadata.link }') #{ c.metadata.name }
  //             else
  //               p.comment-name #{ c.metadata.name }
  //
  //             p.comment-date
  //               !{ moment.utc(c.metadata.date).format(locals.date_format_comment) }&nbsp;|&nbsp;
  //               a(href='#{ page.url }##{ permalink }') Permalink
  //
  //           // CONTENT
  //           | !{content}


  // Comments Form
  if page.metadata.comments_enabled
    include /includes/comments.jade

